*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*.log
/tmp/*
/db/*.sqlite3
/public/uploads
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.idea
config/initializers/secret_token.rb
config/initializers/raven.rb
